# 1. Condition

In [6]:
name = "cat"

In [7]:
if(name == "bird"):
    print("Fly")
else:
    print("Walk")

Walk

In [8]:
if(name == "bird"):
    print("Fly")
elif(name == "pig"):
    print("Walk")
else:
    print("Stay")

Stay

# 2. Loop

In [9]:
multipicationTable = 3

In [10]:
for i in range(1,10):
    print(multipicationTable, "X", i, "=", multipicationTable*i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [15]:
for i in range(2,10):
    for j in range(1,10): 
            print("%2d X %2d = %5d" %(i,j,i*j))
    print("-------------------------------")

 2 X  1 =     2
 2 X  2 =     4
 2 X  3 =     6
 2 X  4 =     8
 2 X  5 =    10
 2 X  6 =    12
 2 X  7 =    14
 2 X  8 =    16
 2 X  9 =    18
-------------------------------
 3 X  1 =     3
 3 X  2 =     6
 3 X  3 =     9
 3 X  4 =    12
 3 X  5 =    15
 3 X  6 =    18
 3 X  7 =    21
 3 X  8 =    24
 3 X  9 =    27
-------------------------------
 4 X  1 =     4
 4 X  2 =     8
 4 X  3 =    12
 4 X  4 =    16
 4 X  5 =    20
 4 X  6 =    24
 4 X  7 =    28
 4 X  8 =    32
 4 X  9 =    36
-------------------------------
 5 X  1 =     5
 5 X  2 =    10
 5 X  3 =    15
 5 X  4 =    20
 5 X  5 =    25
 5 X  6 =    30
 5 X  7 =    35
 5 X  8 =    40
 5 X  9 =    45
-------------------------------
 6 X  1 =     6
 6 X  2 =    12
 6 X  3 =    18
 6 X  4 =    24
 6 X  5 =    30
 6 X  6 =    36
 6 X  7 =    42
 6 X  8 =    48
 6 X  9 =    54
-------------------------------
 7 X  1 =     7
 7 X  2 =    14
 7 X  3 =    21
 7 X  4 =    28
 7 X  5 =    35
 7 X  6 =    42
 7 X  7 =    49
 7 X  8 =    56
 7 X  9 =    63
-------------------------------
 8 X  1 =     8
 8 X  2 =    16
 8 X  3 =    24
 8 X  4 =    32
 8 X  5 =    40
 8 X  6 =    48
 8 X  7 =    56
 8 X  8 =    64
 8 X  9 =    72
-------------------------------
 9 X  1 =     9
 9 X  2 =    18
 9 X  3 =    27
 9 X  4 =    36
 9 X  5 =    45
 9 X  6 =    54
 9 X  7 =    63
 9 X  8 =    72
 9 X  9 =    81
-------------------------------

In [16]:
num = 9
i = 1
while i < 10:
    print(num, "X", i, "=", multipicationTable*i)
    i = i+1

9 X 1 = 3
9 X 2 = 6
9 X 3 = 9
9 X 4 = 12
9 X 5 = 15
9 X 6 = 18
9 X 7 = 21
9 X 8 = 24
9 X 9 = 27

In [20]:
i = 2
while i < 10:
    j = 1
    while j < 10: 
            print("%2d X %2d = %5d" %(i,j,i*j))
            j = j+1
    print("-------------------------------")
    i = i+1

 2 X  1 =     2
 2 X  2 =     4
 2 X  3 =     6
 2 X  4 =     8
 2 X  5 =    10
 2 X  6 =    12
 2 X  7 =    14
 2 X  8 =    16
 2 X  9 =    18
-------------------------------
 3 X  1 =     3
 3 X  2 =     6
 3 X  3 =     9
 3 X  4 =    12
 3 X  5 =    15
 3 X  6 =    18
 3 X  7 =    21
 3 X  8 =    24
 3 X  9 =    27
-------------------------------
 4 X  1 =     4
 4 X  2 =     8
 4 X  3 =    12
 4 X  4 =    16
 4 X  5 =    20
 4 X  6 =    24
 4 X  7 =    28
 4 X  8 =    32
 4 X  9 =    36
-------------------------------
 5 X  1 =     5
 5 X  2 =    10
 5 X  3 =    15
 5 X  4 =    20
 5 X  5 =    25
 5 X  6 =    30
 5 X  7 =    35
 5 X  8 =    40
 5 X  9 =    45
-------------------------------
 6 X  1 =     6
 6 X  2 =    12
 6 X  3 =    18
 6 X  4 =    24
 6 X  5 =    30
 6 X  6 =    36
 6 X  7 =    42
 6 X  8 =    48
 6 X  9 =    54
-------------------------------
 7 X  1 =     7
 7 X  2 =    14
 7 X  3 =    21
 7 X  4 =    28
 7 X  5 =    35
 7 X  6 =    42
 7 X  7 =    49
 7 X  8 =    56
 7 X  9 =    63
-------------------------------
 8 X  1 =     8
 8 X  2 =    16
 8 X  3 =    24
 8 X  4 =    32
 8 X  5 =    40
 8 X  6 =    48
 8 X  7 =    56
 8 X  8 =    64
 8 X  9 =    72
-------------------------------
 9 X  1 =     9
 9 X  2 =    18
 9 X  3 =    27
 9 X  4 =    36
 9 X  5 =    45
 9 X  6 =    54
 9 X  7 =    63
 9 X  8 =    72
 9 X  9 =    81
-------------------------------

In [24]:
StationFares = [
    {"station" : "A", "fare" : 1500},
    {"station" : "B", "fare" : 1800},
    {"station" : "C", "fare" : 2100},
    {"station" : "D", "fare" : 2900},
]

In [25]:
stations = []
fares = []
for stationFare in StationFares:
    stations.append(stationFare["station"])
    fares.append(stationFare["fare"])
print(stations)
print(fares)

['A', 'B', 'C', 'D']
[1500, 1800, 2100, 2900]